if TARGET_IMX8MP_PHYFLEX_LIBRA_RDK

config SYS_BOARD
	default "imx8mp-phyflex-libra-rdk"

config SYS_VENDOR
	default "phytec"

config IMX_CONFIG
	default "board/phytec/imx8mp-phyflex-libra-rdk/imximage-8mp-sd.cfg"

config SYS_CONFIG_NAME
	default "imx8mp-phyflex-libra-rdk"

config PHYFLEX_IMX8MP_RAM_STATIC_SIZE
	bool "Set phyFLEX-i.MX8MP RAM size static instead of detecting"
	default false
	help
	  RAM size is automatic being detected with the help of
	  the EEPROM introspection data. Set RAM size to a static value
	  during compile time instead.

choice
	prompt "phyFLEX-i.MX8MP RAM size"
	depends on PHYFLEX_IMX8MP_RAM_STATIC_SIZE
	default PHYFLEX_IMX8MP_RAM_SIZE_2GB

config PHYFLEX_IMX8MP_RAM_SIZE_2GB
	bool "2GB RAM"
	help
	  Set RAM size static to 2GB for phyFLEX-i.MX8MP.

config PHYFLEX_IMX8MP_RAM_SIZE_4GB
	bool "4GB RAM"
	help
	  Set RAM size static to 4GB for phyFLEX-i.MX8MP.
endchoice

source "board/phytec/common/Kconfig"
endif
