if TARGET_PHYCORE_IMX8MM

config SYS_BOARD
	default "phycore_imx8mm"

source "board/phytec/common/Kconfig"

config SYS_VENDOR
	default "phytec"

config SYS_CONFIG_NAME
	default "phycore_imx8mm"

endif
