// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2021 PHYTEC America, LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	reg_usb_otg1_vbus: regulator@0 {
		compatible = "regulator-fixed";
		reg = <0>;
		regulator-name = "usb_otg1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio4 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec2>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy1>;
	fsl,magic-packet;
	status = "okay";
};

&mdio {
	ethphy1: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <3>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_8_B_NIB>;
		enet-phy-lane-no-swap;
	};
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	status = "okay";

	i2c_eeprom: eeprom@51 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x51>;
		status = "okay";
	};
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	vbus-supply = <&reg_usb_otg1_vbus>;
	srp-disable;
	hnp-disable;
	adp-disable;
	power-polarity-active-high;
	disable-over-current;
	dr_mode = "host";
	status = "okay";
};

&usbotg3 {
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx8qxp-pcm065 {

		pinctrl_hog: hoggrp {
			fsl,pins = <
				SC_P_SAI1_RXC_LSIO_GPIO0_IO30   0x06000021        /* USBOTG1 Port Select */
			>;
		};

		pinctrl_lpi2c1: lpi2c1cgrp {
			fsl,pins = <
				SC_P_USB_SS3_TC1_ADMA_I2C1_SCL  0x06000020
				SC_P_USB_SS3_TC3_ADMA_I2C1_SDA  0x06000020
			>;
		};

		pinctrl_fec2: fec2grp {
			fsl,pins = <
				SC_P_ESAI0_SCKR_CONN_ENET1_RGMII_TX_CTL         0x06000020
				SC_P_ESAI0_FSR_CONN_ENET1_RGMII_TXC             0x06000020
				SC_P_ESAI0_TX4_RX1_CONN_ENET1_RGMII_TXD0        0x06000020
				SC_P_ESAI0_TX5_RX0_CONN_ENET1_RGMII_TXD1        0x06000020
				SC_P_ESAI0_FST_CONN_ENET1_RGMII_TXD2            0x06000020
				SC_P_ESAI0_SCKT_CONN_ENET1_RGMII_TXD3           0x06000020
				SC_P_ESAI0_TX0_CONN_ENET1_RGMII_RXC             0x06000020
				SC_P_SPDIF0_TX_CONN_ENET1_RGMII_RX_CTL          0x06000020
				SC_P_SPDIF0_RX_CONN_ENET1_RGMII_RXD0            0x06000060
				SC_P_ESAI0_TX3_RX2_CONN_ENET1_RGMII_RXD1        0x06000060
				SC_P_ESAI0_TX2_RX3_CONN_ENET1_RGMII_RXD2        0x06000060
				SC_P_ESAI0_TX1_CONN_ENET1_RGMII_RXD3            0x06000060
			>;
		};

		pinctrl_usbotg1: usbotg1 {
			fsl,pins = <
				SC_P_USB_SS3_TC0_LSIO_GPIO4_IO03      0x06000021
			>;
		};

	};
};
